body {
  background: #f8e8a6;
  display: block auto;
}
h1,
p {
  text-align: center;
}
h1 {
  font-weight: bold;
}
footer a {
  color: green;
  margin: 0 10px;
}
footer {
  text-align: center;
}
.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
